.dateSection {
  display: flex;
  flex-grow: 1;
  height: fit-content;
}

.dateBar {
  padding: 16px 0;
  padding-left: 24px;
  display: flex;
  width: 100%;
}

.sortSection {
  padding-left: 64px;
}

.sortText {
  padding-right: 8px;
}

.select {
  padding: 16px 0 !important;
  width: 148px;
}

.searchInput {
  width: 100%;
  text-align: left;
}

.nameSection {
  width: 100%;
  display: flex;
}

.nameText {
  flex-grow: 1;
}
